.main-profile-view {
    padding-top: 15px;
    padding-bottom: 15px;
}

.top-profile-row-col {
    border: black solid 1px;
    height: 30em;
    margin: 10px;
    overflow-y: scroll;
}

.profile-dp-col img {
    max-width: 100%;
    width: 100%;
}

.profile-extrainfo-col {
    height: 100%;
}

.side-submission-view {
    padding: 15px;
}